:8080 {
    root * /app/public/web
    encode gzip
    
    # Habilitar PHP
    php_fastcgi unix//var/run/php/php-fpm.sock
    
    # Intentar servir archivos estáticos primero
    @static {
        file
    }
    handle @static {
        file_server
    }
    
    # Si no es archivo estático, redirigir a index.php
    handle {
        rewrite * /productos/index.php
        php_fastcgi unix//var/run/php/php-fpm.sock
    }
}